<% provide :title, t(".title") %>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="musicNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">fasdf</a></li>
        <li><%= link_to t(".link_login"), user_session_path %></li>
        <li><%= link_to t(".link_signup"), new_user_registration_path %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-sm-2 sidenav hidden-xs">
    <img src="http://dxta.github.io/img/about/framgia.png" alt=""
    style="width: 100%">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#section1">Home</a></li>
      <li><a href="#album">Albums</a></li>
      <li><a href="#song">Songs</a></li>
      <li><a href="#section3">Sigin</a></li>
      <li><a href="#section3">Sigup</a></li>

    </ul>
    <br>
  </div>
  <br>

  <div class="col-sm-10 div-right">
    <div class="well slide-bar">
      <h1>Listen to music</h1>
      <img src="https://x.myspacecdn.com/new/common/images/ilike-logo-square_512.png" alt="">
      <p>Framgia Imusic</p>
    </div>
    <div class="row">
      <h2 style="color: #777777" id="album"><%= link_to "Albums" %></h2>
      <% @albums.each do |album| %>
        <div class="col-sm-3">
          <a href="<%= album_path(album) %>">
            <div class="well div-item">
              <% if album.avatar? %>
                <%= image_tag album.avatar.url %>
              <% else %>
                <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
              <% end %>
            </div>
            <h4><%= album.name %></h4>
          </a>
        </div>
      <% end %>
    </div>
    <div class="row" >
      <h2 id="song"><%= link_to "Songs" %></h2>
      <% @songs.each do |song| %>
        <div class="col-sm-3">
          <a href="<%= song_path(song) %>">
            <div class="well div-item">
              <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
            </div>
            <h4><%= song.name %></h4>
          </a>
        </div>
      <% end %>
    </div>
  </div>

</div>

