<% provide :title, t(".title") %>
<% if signed_in? %>
  <% if current_user.is_admin? %>
  <% else %>
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="musicNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">fasdf</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="col-sm-2 sidenav hidden-xs">
        <a href="/"><img src="http://dxta.github.io/img/about/framgia.png"
        alt=""
        style="width: 100%"></a>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#album">Albums</a></li>
          <li><a href="#song">Songs</a></li>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li><%= link_to "Logout",
            destroy_user_session_path, method: :delete %></li>
        </ul>
        <br>
      </div>
      <br>
      <div class="col-sm-10 div-right">
        <div class="well slide-bar">
          <h1>Listen to music</h1>
          <img src="https://x.myspacecdn.com/new/common/images/ilike-logo-square_512.png" alt="">
          <%= search_form_for @search do |f| %>
            <div class="form-group search_form" style="color: black">
              <%= f.text_field :name_or_albums_name_or_artists_name_cont,
                placeholder:"Search anythings... ",
                class: "search_field" %>
            </div>
          <% end %>

        </div>
        <div class="row">
          <h2 style="color: #777777" id="album"><a href="/albums">Albums</a></h2>
          <% @albums.first(4).each do |album| %>
            <% @singer = Artist.find(album.songs.last.singer_id) %>
            <div class="col-sm-3" style="text-align: center;">
              <a href="<%= album_path(album) %>">
                <div class="well div-item">
                  <% if album.avatar? %>
                    <%= image_tag album.avatar.url %>
                  <% else %>
                    <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
                  <% end %>
                </div>
                <h3><%= album.name %></h3>
                <a href="/artists/<%= @singer.id %>"><%= @singer.name %></a>
              </a>
            </div>
          <% end %>
        </div>
        <div class="row">
          <h2 id="song"><a href="/songs">Songs</a></h2>
          <% Song.all.first(4).each do |song| %>
            <div class="col-sm-3" style="text-align: center">
              <a href="<%= song_path(song) %>">
                <div class="well div-item">
                  <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
                </div>
                <h3><%= song.name %></h3>
                <% @singer = Artist.find(song.singer_id) %>
                <a href="/artists/<%= @singer.id %>"><%= @singer.name %></a>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="musicNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">fasdf</a></li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="col-sm-2 sidenav hidden-xs">
      <img src="http://dxta.github.io/img/about/framgia.png" alt=""
      style="width: 100%">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#album">Albums</a></li>
        <li><a href="#song">Songs</a></li>
        <li><%= link_to t(".link_login"), user_session_path %></li>
        <li><%= link_to t(".link_signup"), new_user_registration_path %></li>
      </ul>
      <br>
    </div>
    <br>

    <div class="col-sm-10 div-right">
      <div class="well slide-bar">
        <h1>Listen to music</h1>
        <img src="https://x.myspacecdn.com/new/common/images/ilike-logo-square_512.png" alt="">
        <p>Framgia Imusic</p>
      </div>
      <div class="row">
        <h2 style="color: #777777" id="album"><%= link_to "Albums" %></h2>
        <% @albums.first(4).each do |album| %>
          <div class="col-sm-3">
            <a href="<%= album_path(album) %>">
              <div class="well div-item">
                <%# if album.avatar? %>
                  <%#= image_tag album.avatar.url %>
                <%# else %>
                  <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
                <%# end %>
              </div>
              <h4><%= album.name %></h4>
            </a>
          </div>
        <% end %>
      </div>
      <div class="row">
        <h2 id="song"><%= link_to "Songs" %></h2>
        <% @songs.first(4).each do |song| %>
          <div class="col-sm-3">
            <a href="<%= song_path(song) %>">
              <div class="well div-item">
                <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
              </div>
              <h4><%= song.name %></h4>
            </a>
          </div>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
