<%= render "layouts/header" %>
<div class="container" style="background: white; box-shadow:0 0
  10px rgba(0, 0, 0, 0.5);margin-top: 35px;" >
  <div class="" style="padding: 30px;">
    <div class="user-profile" style="padding-bottom: 60px;">
      <h3>Artist Info</h3>
      <div class="w3-display-container">
        <% if @artist.avatar? %>
          <%= image_tag @artist.avatar.url(:medium) %>
        <% else %>
          <div class="avatar">
            <img src="https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" alt="">
          </div>
        <% end %>
        <div class="w3-display-bottomleft w3-container w3-text-black"
        style="padding-left: 60px">
          <h3 style="padding-left: 30px"><%= @artist.name %></h3>
        </div>
      </div>
      <span class="glyphicon glyphicon-envelope"
      style="padding-left:30px"></span>
      <%= @artist.type_of_music %><br />
      <span class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"
      style="padding-left: 30px">
    <%= @artist.date_of_birth %><br />
    </span>
    </div>
  </div>
</div>