<div class="row">
  <div class="col-md-4">
    <h3><%= @song.name %></h3>
  </div>
  <div class="col-md-8">
    <div class="audio-player">
      <img class="cover" src="" alt="">
      <audio id="audio-player" src="<%= @song.url_content %>"
        type="audio/mp3" controls="controls"></audio>
    </div>
  </div>
</div>

<h3><%= t ".lyrics" %></h3>
<div class="contribute-lyric">
  <%= link_to t(".lyric-contribute"), new_song_lyric_path(@song),
    class: "button-contribute" %>
</div>
<%= render "comments/form", parent_id: nil %>
<ul>
  <% if @support.comments %>
    <%= comments_tree_for @support.comments %>
  <% end %>
</ul>
<div class="row">
  <div class="small-2 large-4 columns">
    <% if user_signed_in? %>
      <%= rating_for @song, "evaluation",
        disable_after_rate: true, imdb_avg: true, target: "#hintDiv",
        targetText: t(".rate_this"), space: true, cancel_place: "right" %>
      <div id="hintDiv"></div>
    <% end %>
  </div>
</div>
