<div class="wrapper-page" style="background: white; box-shadow:0 0
  10px rgba(0, 0, 0, 0.5)">
  <div class="wrap-body group page-play-song container">
    <div class="wrap-content">
      <div style="margin-top: 45px">
        <% @search = Song.search params[:q] %>
        <% @singer = Artist.find(@song.singer_id) %>
        <div class="avatar">
          <img src="http://previews.123rf.com/images/rastudio/rastudio1503/rastudio150300097/37220795-The-hipster-with-a-beard-is-listenning-to-music-Fun-avatar-concept-Vector-flat-design-illustration--Stock-Vector.jpg" alt="">
        </div>
        <div class="title-song" style="float: left;padding-left: 50px;">
          <h3><%= @song.name %></h3>
          <p>Category: <%= @song.category.name %> </p>
          <p>Singer: <%= @singer.name %> </p>
        </div>
      </div>
      <div class="panel panel-default" style="margin-top: 250px;">
        <div class="panel-body" style="padding-top: 10px;
          background-image: url('http://www.freewebheaders.com/wordpress/wp-content/gallery/christmas/xmas-balls-on-red-background-header.jpg')">
          <div class="audio-player" style="width: 98%; padding-top: 130px;">
            <img class="cover" src="" alt="">
            <audio id="audio-player" src="<%= @song.url_content %>"
            type="audio/mp3" controls="controls" autoplay></audio>
          </div>

        </div>
      </div>
      <p class="glyphicon glyphicon-headphones" style="float: right">
        <%= @song.impressionist_count %>
      </p>
      <%= render "marks/mark" %>
      <%= render "marks/form_song_marks" %>
      <div class="row" style=" width: 100%; background: #eaeaea;
        box-shadow: 8px 12px 23px -14px rgba(0,0,0,1); margin: 20px 0">
        <div style="padding: 20px">
          <h3><%= t ".lyrics" %></h3>

          <div class="lyrics-content">
            <ul class="nav nav-tabs">
              <% @song.lyrics.each_with_index do |lyric, index| %>
                <% if lyric.approved? %>
                  <li class="<%= "active" if index == 0 %>">
                    <a data-toggle="tab" href="#lyric_<%= lyric.id %>">
                      <%= t(".version") + "#{index+1}" %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="tab-content" style="margin-top: 20px;">
              <% @song.lyrics.each_with_index do |lyric, index| %>
                <% if lyric.approved? %>
                  <div id="lyric_<%= lyric.id %>"
                  class="tab-pane fade <%= "in active" if index == 0 %>">
                    <p><%= strip_tags(lyric.content) %></p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="contribute-lyric">
            <%= link_to t(".lyric-contribute"), new_song_lyric_path(@song),
              class: "button-contribute" %>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0; width: auto">
        <div class="small-2 large-4 columns">
          <% if user_signed_in? %>
            <%= rating_for @song, "evaluation",
              disable_after_rate: true, imdb_avg: true, target: "#hintDiv",
              targetText: t(".rate_this"), space: true, cancel_place: "right" %>
            <div id="hintDiv"></div>
          <% end %>
        </div>
      </div>

      <div class="section po-r" style="float:left;">
        <% @singer_other = Artist.find @song.singer_id %>
        <h2 class="title-section" style="float:left;color: #004d40;">Album <%= @singer_other.name %></h2>
        <div class="row fn-list slick-initialized slick-slider" style="margin-left: 0px">
          <div class="row" style="margin-left: 0px">
            <% Album.all.each do |album| %>
              <% @singer = Artist.find album.songs.first.singer_id %>
              <% if @singer == @singer_other %>
                <div class="pone-of-four" style="width: 170px">
                  <div class="item">
                    <a href="<%= album_path(album) %>">
                      <% if album.avatar? %>
                        <%= image_tag album.avatar.url %>
                      <% else %>
                        <%= image_tag "http://previews.123rf.com/images/rastudio/rastudio1503/rastudio150300097/37220795-The-hipster-with-a-beard-is-listenning-to-music-Fun-avatar-concept-Vector-flat-design-illustration--Stock-Vector.jpg" %>
                      <% end %>
                      <span class="icon-circle-play otr"></span>
                    </a>
                  </div>
                  <div class="description">
                    <h4 class="title-item ellipsis">
                      <a href="<%= album_path(album) %>"><%= album.name %></a>
                    </h4>
                    <div class="inblock ellipsis">
                      <a href="/artists/<%= @singer.id %>">
                        <h5 class="title-sd-item">
                          <%= @singer.name %>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="div-comment" style="margin-top: 20px; float:left;">
        <%= render "comments/form", parent_id: nil %>
        <ul id="list-comment" class="list-comment">
          <% if @support.comments %>
            <%= comments_tree_for @support.comments %>
          <% end %>
        </ul>
      </div>
    </div>
    <ul class="wrap-sidebar" style="list-style: none;
      margin-top: 45px; text-align: center;float:left;">
      <h3 style="margin-bottom: 50px">Suggest</h3>
      <% arr = [] %>
      <% arr_sort = [] %>
      <% Song.all.each do |song| %>
        <% if song.impressionist_count > 5 && song != @song %>
          <% arr.push([[song.impressionist_count], [song]]) %>
        <% end %>
      <% end %>
      <% arr_sort = arr.sort.reverse %>
      <% arr_sort.each do |item| %>
        <% @singer = Artist.find(item[1].first.singer_id) %>
          <li class="fn-item fn-song">
            <a href="/songs/<%= item[1].first.id %>">
              <h4 class="song-name"><%= item[1].first.name %></h4>
            </a>
            <div class="inblock singer-name ellipsis fn-artist_list">
              <a href="/artists/<%= @singer.id %>">
                <h5 class="txt-info fn-artist"><%= @singer.name %></h5>
              </a>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>