<%= render "layouts/header" %>
<div class="container album-wraper" style="background: white; box-shadow:0 0
  10px rgba(0, 0, 0, 0.5);margin-top: 65px;">
  <div class="col-md-8">
    <div class="col-md-4" style="margin-top: 20px">
      <% if @album.avatar? %>
        <div class="avatar"><%= image_tag @album.avatar.url %></div>
      <% else %>
        <div class="avatar">
          <img src="https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" alt="">
        </div>
      <% end %>
      <h3 style="margin-left: 20px; float: left"><%= @album.name %></h3>
    </div>
    <div class="audio-album">
      <div class="panel panel-default">
        <a class="panel-body">
          <div class="audio-player">
            <audio id="audio-player" src="<%= @album.songs.first.url_content %>"
            type="audio/mp3" controls="controls" autoplay></audio>
          </div>
        </a>
        <ul class="list-group">
          <% @album.songs.each do |song| %>
            <li class="list-group-item">
              <%= link_to song.name, song_path(song), data: song.url_content %>
            </li>
          <% end %>
        </ul>
      </div>
      <p class="glyphicon glyphicon-headphones" style="float: right"><%= " #{@album
        .impressionist_count}" %></p>
    </div>
    <div class="row" style="margin-left: 10px; width: 90%; background: #eaeaea;
      box-shadow: 8px 12px 23px -14px rgba(0,0,0,1); margin-top: 70px;">
      <div style="padding: 20px">
        <h3><%= t "lyric" %></h3>
        <div class="lyrics-content">
          <% @album.songs.each do |song| %>
            <ul class="nav nav-tabs tabs-lyric">
              <% song.lyrics.each_with_index do |lyric, index| %>
                <% if lyric.approved? %>
                  <li class="<%= "active" if index == 0 %>">
                    <a data-toggle="tab" href="#lyric_<%= lyric.id %>">
                      <%= t(".version") + "#{index+1}" %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
          <% @album.songs.each do |song| %>
            <div class="tab-content tab-lyric-content" style="margin-top: 20px;">
              <% song.lyrics.each_with_index do |lyric, index| %>
                <% if lyric.approved? %>
                  <div id="lyric_<%= lyric.id %>"
                  class="tab-pane fade <%= "in active" if index == 0 %>">
                    <p><%= strip_tags lyric.content %></p>
                  </div>
                <% end %>
              <% end %>
              <div class="contribute-lyric">
                <%= link_to "Contribute", new_song_lyric_path(song),
                  class: "button-contribute" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row rate" style="margin-top: 0">
      <div class="row" style="margin-left: 20px">
        <div class="small-2 large-4 columns">
          <% if user_signed_in? %>
            <%= rating_for @album, "evaluation",
              disable_after_rate: true, imdb_avg: true, target: "#hintDiv",
              targetText: t(".rate_this"), space: true, cancel_place: "right" %>
            <div id="hintDiv"></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row comment" style="margin-left: 10px; width: 60%">
      <%= render "comments/form", parent_id: nil %>
      <ul>
        <% if @support.comments %>
          <%= comments_tree_for @support.comments %>
        <% end %>
      </ul>
    </div>
  </div>
  <ul class="col-md-3" style="list-style: none;
    margin-top: 45px; text-align: center; width: 30%;">
    <h3>Suggest</h3>
    <ul class="list" style="list-style: none">
      <% Album.all.each do |album| %>
        <li style="border-bottom: 1px solid silver; height: 80px;
          line-height: 80px; ">
          <%= link_to album.name, album_path(album) %>
        </li>
      <% end %>
    </ul>
  </ul>
</div>
