<div class="row">
  <div class="col-md-4">
    <h3><%= @album.name %></h3>
    <%= t(".views") + " #{@album.impressionist_count}" %>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <a class="panel-body">
        <div class="audio-player">
          <audio id="audio-player" src="<%= @album.songs.first.url_content %>"
            type="audio/mp3" controls="controls" autoplay></audio>
        </div>
      </a>
      <ul class="list-group">
        <% @album.songs.each do |song| %>
          <li class="list-group-item">
            <%= link_to song.name, song_path(song), data: song.url_content %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<h3><%= t "lyric" %></h3>
<div class="lyrics-content">
  <% @album.songs.each do |song| %>
    <ul class="nav nav-tabs tabs-lyric">
      <% song.lyrics.each_with_index do |lyric, index| %>
        <% if lyric.approved? %>
          <li class="<%= "active" if index == 0 %>">
            <a data-toggle="tab" href="#lyric_<%= lyric.id %>">
              <%= t(".version") + "#{index+1}" %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <% @album.songs.each do |song| %>
    <div class="tab-content tab-lyric-content">
      <% song.lyrics.each_with_index do |lyric, index| %>
        <% if lyric.approved? %>
          <div id="lyric_<%= lyric.id %>"
            class="tab-pane fade <%= "in active" if index == 0 %>">
            <p><%= strip_tags lyric.content %></p>
          </div>
        <% end %>
      <% end %>
      <div class="contribute-lyric">
        <%= link_to t(".lyric-contribute"), new_song_lyric_path(song),
          class: "button-contribute" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="small-2 large-4 columns">
    <% if user_signed_in? %>
      <%= rating_for @album, "evaluation",
        disable_after_rate: true, imdb_avg: true, target: "#hintDiv",
        targetText: t(".rate_this"), space: true, cancel_place: "right" %>
      <div id="hintDiv"></div>
    <% end %>
  </div>
</div>

<%= render "comments/form", parent_id: nil %>
<ul>
  <% if @support.comments %>
    <%= comments_tree_for @support.comments %>
  <% end %>
</ul>
