<div class="wrapper-page" style="margin: 0 auto;padding: 15px 12px 0;">
  <div class="wrap-2-col">
    <div class="sidebar fn-sidebar-fixed">
      <ul class="data-list">
        <li class="active">
          <h3><a href="" style="color: #004d40">Categories</a></h3>
        </li>
      </ul>
      <div class="fn-scrollbar mCustomScrollbar _mCS_1 mCS-autoHide">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_outside" tabindex="0">
          <div id="mCSB_1_container" class="mCSB_container" style="position: relative; left: 0px; top: 0px;" dir="ltr">
            <ul class="data-list">
              <% Category.all.each do |category| %>
                <li class="">
                  <a href="#<%= category.name %>">
                    <%= category.name %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% Category.all.each do |type| %>
      <div class="zcontent">
        <h2 class="title-section" id="<%= type.name %>">
          <a href="#"><%= type.name %>
            <i class="icon-arrow"></i></a>
        </h2>
        <div class="tab-pane">

          <div class="row">
            <% Song.all.each do |song| %>
              <% @singer = Artist.find song.singer_id %>
              <% if song.category == type %>
                <div class="pone-of-four" style="width: 175px">
                  <div class="item">
                    <a href="<%= songs_path(song) %>">
                      <% if @singer.avatar? %>
                        <%= image_tag @singer.avatar.url %>
                      <% else %>
                        <%= image_tag "https://thumb1.shutterstock.com/display_pic_with_logo/2505571/450617644/stock-vector-cool-avatar-black-rap-singer-modern-simple-and-clear-design-vector-icon-in-flat-style-450617644.jpg" %>
                      <% end %>
                      <span class="icon-circle-play otr"></span>
                    </a>
                  </div>
                  <div class="description">
                    <h4 class="title-item ellipsis">
                      <a href="<%= songs_path(song) %>"><%= song.name %></a>
                    </h4>
                    <div class="inblock ellipsis">
                      <a href="/artists/<%= @singer.id %>">
                        <h5 class="title-sd-item">
                          <%= @singer.name %>
                        </h5>
                      </a>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
