<header>
  <div class="container group">
    <div class="logo">
      <a href="/" class="hide-text">
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAfeAAAAJGY4ODMyMTcwLTZmODYtNDgxMi1iMDc0LWYwZjQ2OWVlYWQ3Mg.png" style="height: 60px" />
      </a>
    </div>
    <div id="sug" class="section-search">
      <%= search_form_for @search, class: "search" do |f| %>
        <%= f.text_field :name_cont, class: "input-txt", placeholder: "Search..." %>
        <span class="input-btn"><%= f.submit class: "zicon btn hide-text" %></span>
      <% end %>
    </div>
    <div class="nav-account pull-right fn-guestbox">
      <% if user_signed_in? %>
        <%= link_to t(".link_logout"),
          destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(".link_login"), user_session_path,
          class: "fn-login" %>
        <span class="slash">/</span>
        <%= link_to t(".link_signup"), new_user_registration_path %>
      <% end %>
    </div>
  </div>
</header>

<nav>
  <div class="container">
    <ul class="main-nav group">
      <li class="home"><a href="/">Framusic</a></li>

      <li class="active"><a class="fn-login" href="<%= user_path(current_user) %>">Personal
        Music</a>
        <div class="megamenu submenu menu-col-1 fn-userbox">
          <div class="subcol menu-col-1-narrow">
            <div class="subinner_item">
              <ul>
                <li><a href="/u/" title="Kênh của tôi" class="fn-my-channel">Kênh
                  của tôi</a></li>
                <li><a href="/mymusic/myplaylist" title="Playlist cá nhân">Playlist
                  Cá Nhân</a></li>
                <li><a href="/mymusic/favorites-song" title="Yêu thích">Yêu
                  Thích</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
        </div>
      </li>

      <li class="separation"></li>
      <li><a href="/categories">Categories</a>
        <div class="megamenu submenu menu-col-4">
          <div class="subcol menu-col-1">
            <div class="title-menu"><a href="#">Nổi Bật</a></div>
            <div class="subinner_item">
              <ul>
                <li><a href="/chu-de/Nhac-Hot/IWZ9Z0C8.html">Nhạc Hot</a></li>
                <li><a href="/chu-de/Nhac-Viet-Moi/IWZ9Z0ED.html">Nhạc Việt
                  Mới</a></li>
              </ul>
            </div>
          </div>

          <!--End .sub-col -->

        </div>
      </li>
      <li><a title="Albums" href="/albums">Albums</a>
        <div class="megamenu submenu menu-col-4">
          <div class="subcol menu-col-1">
            <div class="title-menu">
              <a href="/the-loai-album/Viet-Nam/IWZ9Z08I.html" title="Việt Nam">Việt
                Nam</a></div>
            <div class="subinner_item">
              <ul>
                <li>
                  <a title="Nhạc Trẻ" href="/the-loai-album/Nhac-Tre/IWZ9Z088.html">Nhạc
                    Trẻ</a></li>
                <li>
                  <a title="Nhạc Trữ Tình" href="/the-loai-album/Nhac-Tru-Tinh/IWZ9Z08B.html">Nhạc
                    Trữ Tình</a></li>
                <li>
                  <a title="Rock Việt" href="/the-loai-album/Rock-Viet/IWZ9Z08A.html">Rock
                    Việt</a></li>
                <li>
                  <a title="Nhạc Trịnh" href="/the-loai-album/Nhac-Trinh/IWZ9Z08E.html">Nhạc
                    Trịnh</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li><a title="Artists" href="/artists">Artists</a>
        <div class="megamenu submenu menu-col-1">
          <div class="subcol menu-col-1-narrow">
            <div class="subinner_item">
              <ul>
                <li>
                  <a title="Việt Nam" href="/the-loai-nghe-si/Viet-Nam/IWZ9Z08I.html">Việt
                    Nam</a></li>
                <li>
                  <a title="Âu Mỹ" href="/the-loai-nghe-si/Au-My/IWZ9Z08O.html">Âu
                    Mỹ</a></li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
        </div>
      </li>
      <li><a title="Top 100" href="#">Top 100</a>
        <div class="megamenu submenu menu-col-1">
          <div class="subcol menu-col-1-narrow">
            <div class="subinner_item">
              <ul>
                <li><a title="Việt Nam" href="/top100/Nhac-Tre/IWZ9Z088.html">Việt
                  Nam</a></li>
                <li><a title="Âu Mỹ" href="/top100/Pop/IWZ9Z097.html">Âu Mỹ</a>
                </li>
              </ul>
            </div>
          </div>
          <!--End .sub-col -->
        </div>
      </li>
    </ul>
    <!-- END .main-nav -->
  </div>
  <!-- END .container -->
</nav>